@model SistemaAnubis.Models.DTO.CoroaDTO

@{
    Layout = "~/Views/Shared/_Logado.cshtml";
    ViewBag.Title = "Cadastrar Administrador";
}

@using (Html.BeginForm("Coroa", "Busca", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
{
    <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
        <fieldset>
            @Html.ValidationSummary()
            <legend>Cadastrar Administrador</legend>
            @Html.LabelFor(m => m.User)




            <input type="submit">

        </fieldset>
    </div>
}
