
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Empresa";

    if (MvcApplication.Session.Instance.Nome != null)
    {
        MvcApplication.Session.Instance.LimparLogado();
    }
}
<div id="corpo">
    <section id="about-section">
        <div class="container">
            <header class="section-header text-center pt-4">
                <h2>SOBRE NÓS</h2>
                <hr class="light">
                <p>Após o falecimento de seu pai, o do dono da empresa procurou atendimento em muitas funerárias; infelizmente, todas que encontrou não davam um bom atendimento e seus planos funerários eram inflexíveis. Sendo assim, com seu conhecimento em empreendedorismo, juntou alguns colegas que já trabalhavam na área e decidiu criar uma funerária que não fizesse alguém passar pelo mesmo que ele, prestando ótimos serviços voltados apenas para o cliente.</p>
            </header>
            <div class="row about-cols">
                <div class="col-md-4">
                    <div class="about-col">
                        <h3 class="text-center">Missão</h3>
                        <p>Gerar conforto e satisfação para nossos clientes.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-col">
                        <h3 class="title text-center">Visão</h3>
                        <p>Visamos ter sempre o melhor atendimento e tratamento, tanto de nossos clientes quanto de seus respectivos entes queridos.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-col">
                        <h3 class="title text-center">Valores</h3>
                        <p>Dentro de nossos valores temos principalmente a: evolução, dedicação, ética e organização.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Nossa Equipe -->
    <section class="team-section text-center" id="team-section">
        <header class="section-header text-center">
            <hr class="light">
            <h3>Nossa Equipe</h3>
            <p>Somos uma equipe profissional composta por sete integrantes.</p>
        </header>

        <div class="row text-center">
            <div class="col-md-4 mb-md-0 mb-5">
                <h4 class="my-4">Evandro Junior</h4>
                <h6 class="mb-3"><strong>Líder e programador</strong></h6>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <h4 class="my-4">João Pedro</h4>
                <h6 class="mb-3"><strong>Web-designer</strong></h6>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <h4 class="my-4">Marcos</h4>
                <h6 class="mb-3"><strong>Analista de banco de dados</strong></h6>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <h4 class="my-4">Lucas Sacchi</h4>
                <h6 class="mb-3"><strong>Analista de sistemas</strong></h6>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <h4 class="my-4">Filipe Dias</h4>
                <h6 class="mb-3"><strong>Desenvolvedor mobile</strong></h6>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <h4 class="my-4">João Versino</h4>
                <h6 class="mb-3"><strong>Desenvolvedor mobile e banco de dados</strong></h6>
            </div>

            <div class="col-md-4 mb-md-0 mb-5 mx-auto">
                <h4 class="my-4">Eduarda</h4>
                <h6 class="mb-3"><strong>Analista de infraestrutura</strong></h6>
            </div>
        </div>
    </section>
</div>
