@model SistemaAnubis.Models.DTO.ClienteDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Esqueci Minha senha";

    if (MvcApplication.Session.Instance.Nome != null)
    {
        MvcApplication.Session.Instance.LimparLogado();
    }
}


@using (Html.BeginForm("Esqueci", "Home", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
{
<div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
    <fieldset>
        <div class="validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"><legend>Cadastrar Caixão</legend></li>
            </ul>
        </div>
        @Html.Label("Digite seu email:")

        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

        <div class="col text-center my-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>

    </fieldset>
</div>
 }
   