
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portifolio";

    if (MvcApplication.Session.Instance.Nome != null)
    {
        MvcApplication.Session.Instance.LimparLogado();
    }
}
<div class="container-fluid" id="portfolio">
    <div class="row">
        <div class="col-sm" id="portfolio-funerais" style="padding-top: 0px;">
            <header class="text-center pt-4">
                <h2 style="text-shadow: 0px 0px 4px #000000;">PORTFÓLIO</h2>
                <hr class="light">
            </header>
            <h3 class="text-center" style="text-shadow: 0px 0px 4px #000000;">Funerais importantes que auxiliamos.</h3>
            <div id="portfolio-cards" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="carousel-item active text-center">
                            <div class="row">
                                <div class="col-lg-4" id="cardee">
                                    <div class="card">
                                        <img src="~/Imagens/funeral-stan.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title">Stan Lee</h4>
                                            <p class="card-text">Foi um escritor, editor, publicitário, produtor, diretor, empresário e ator, editor-chefe e presidente da Marvel Comics.</p>
                                            <p class="card-text">12 de novembro de 2018.</p>
                                            <button class="btn btn-primary">Ler Mais.</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" id="cardee">
                                    <div class="card">
                                        <img src="~/Imagens/funeral-hebe.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title">Hebe Camargo</h4>
                                            <p class="card-text">Foi uma apresentadora de televisão, cantora, radialista, humorista e atriz brasileira. Tida como a "Rainha da Televisão Brasileira"</p>
                                            <p class="card-text">30 de setembro de 2012.</p>
                                            <button  class="btn btn-primary">Ler Mais.</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" id="cardee">
                                    <div class="card">
                                        <img src="~/Imagens/funeral-andre.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title">André Matos</h4>
                                            <p class="card-text">Foi um cantor, compositor, maestro e pianista brasileiro, conhecido por ter sido vocalista das bandas Viper, Angra e Shaman.</p>
                                            <p clss="card-text">8 de junho de 2019.</p>
                                            <button  class="btn btn-primary">Ler Mais.</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center" id="portfolio-funerais">
        <hr class="light">
        <h3 style="text-shadow: 0px 0px 4px #000000;">Troféus</h3>
        <div class="row" id="portfolio-conquistas">
            <div class="col-lg-4" style="left: 17%;">
                <div class="card">
                    <img src="~/Imagens/trofeu-economia.jpg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Plano funerário mais econômico do Brasil.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="left: 16%;">
                <div class="card">
                    <img src="~/Imagens/trofeu-funeraria.jpg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Melhor funerária do Brasil.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
