
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Suporte";

    if (MvcApplication.Session.Instance.Nome != null)
    {
        MvcApplication.Session.Instance.LimparLogado();
    }
}

<div id="formUrna" style="padding-top: 0;">
    <section id="other-section" class="section-bg">
        <header class="section-header text-center pt-4 pb-4">
            <h2 style="color: #fff; text-shadow: 0px 0px 4px #000000;">SUPORTE</h2>
            <hr class="light">
        </header>
        <div class="container row justify-content-center mx-auto">
            <div class="card text-center mx-3" style="width: 352px; height: 250px;">
                <div class="card-body pb-0 pt-2" style="color: #000; text-transform: none;">
                    <h5 class="card-title">Telefones</h5>
                    <p class="card-text">Use seu telefone fixo ou móvel para nos contatar.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">(11) 1234-5678</li>
                    <li class="list-group-item">(11) 98387-8420</li>
                    <li class="list-group-item">(11) 5468-9723</li>
                </ul>
            </div>
            <div class="card text-center mx-3" style="width: 352px; height: 250px;">
                <div class="card-body pb-0" style="color: #000; text-transform: none;">
                    <h5 class="card-title">E-mails</h5>
                    <p class="card-text">E-mails oficiais.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">anubisfuneraria@gmail.com</li>
                    <li class="list-group-item">anubis@gmail.com.br</li>
                    <li class="list-group-item">anubis_reclame@gmail.com</li>
                </ul>
            </div>
        </div>
    </section>
    
</div>
