
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Suporte";

    if (MvcApplication.Session.Instance.Nome != null)
    {
        MvcApplication.Session.Instance.LimparLogado();
    }
}

<h2>Suporte</h2>

