
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Suporte";

    if (MvcApplication.Session.Instance.Nome != null)
    {
        MvcApplication.Session.Instance.LimparLogado();
    }
}

<div id="formUrna" style="padding-top: 0;">
    <section id="other-section" class="section-bg">
        <header class="section-header text-center pt-4 pb-4">
            <h2 style="color: #fff; text-shadow: 0px 0px 4px #000000;">SUPORTE</h2>
            <hr class="light">
        </header>
        <div class="container row justify-content-center mx-auto">
            <div class="card text-center mx-3" style="width: 352px; height: 250px;">
                <div class="card-body pb-0 pt-2" style="color: #000; text-transform: none;">
                    <h5 class="card-title">Telefones</h5>
                    <p class="card-text">Use seu telefone fixo ou móvel para nos contatar.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">(11) 1234-5678</li>
                    <li class="list-group-item">(11) 98387-8420</li>
                    <li class="list-group-item">(11) 5468-9723</li>
                </ul>
            </div>
            <div class="card text-center mx-3" style="width: 352px; height: 250px;">
                <div class="card-body pb-0" style="color: #000; text-transform: none;">
                    <h5 class="card-title">E-mails</h5>
                    <p class="card-text">E-mails oficiais.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">anubisfuneraria@gmail.com</li>
                    <li class="list-group-item">pedrovilela0303@gmail.com</li>
                    <li class="list-group-item">mrluckingplayer@gmail.com</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="contact-section" class="section-bg pb-4 pt-4">
        <div class="container text-center">
            <header class="section-header text-center pt-4">
                <hr class="light">
                <h3 style="color: #fff; text-shadow: 0px 0px 4px #000000;">Use o formulário para uma forma mais imediata de contato.</h3>
            </header>
            <div class="form-container" id="formEnvie">
                <div class="form">
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu Nome" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Seu E-Mail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="assunto" id="assunto" placeholder="Assunto" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="mensagem" rows="5" placeholder="Mensagem"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
