@model SistemaAnubis.Models.DTO.FloresDTO

@{
    ViewBag.Title = "Cadastrar Administrador";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        <h1>Faça login primeiro</h1>
        <a onclick="location.href='@Url.Action("Login", "Home")'">Voltar</a>

    }
    else
    {
        Layout = "~/Views/Shared/_Logado.cshtml";

        using (Html.BeginForm("Flores", "Consulta", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
        {
            <legend class="text-center card-title" style="color:white">Flores</legend>
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <fieldset>
                    @Html.LabelFor(m => m.Tipo)




                    <input type="submit">

                </fieldset>
            </div>
        }
    }

}

